@import "tailwindcss";

:root {
  --background: #f3f8fe;
  --primary: #286ce4;
  --accent: #5291eb;
  --secondary: #8fb2e4;
  --foreground: #030a14;
}

@theme inline {
  --color-background: var(--background);

  --color-foreground: var(--foreground);
  --color-foreground-10: color-mix(in oklab, var(--foreground) 10%, var(--background));
  --color-foreground-20: color-mix(in oklab, var(--foreground) 20%, var(--background));
  --color-foreground-30: color-mix(in oklab, var(--foreground) 30%, var(--background));
  --color-foreground-40: color-mix(in oklab, var(--foreground) 40%, var(--background));
  --color-foreground-50: color-mix(in oklab, var(--foreground) 50%, var(--background));
  --color-foreground-60: color-mix(in oklab, var(--foreground) 60%, var(--background));
  --color-foreground-70: color-mix(in oklab, var(--foreground) 70%, var(--background));
  --color-foreground-80: color-mix(in oklab, var(--foreground) 80%, var(--background));
  --color-foreground-90: color-mix(in oklab, var(--foreground) 90%, var(--background));

  --color-primary: var(--primary);
  --color-primary-10: color-mix(in oklab, var(--primary) 10%, var(--background));
  --color-primary-20: color-mix(in oklab, var(--primary) 20%, var(--background));
  --color-primary-30: color-mix(in oklab, var(--primary) 30%, var(--background));
  --color-primary-40: color-mix(in oklab, var(--primary) 40%, var(--background));
  --color-primary-50: color-mix(in oklab, var(--primary) 50%, var(--background));
  --color-primary-60: color-mix(in oklab, var(--primary) 60%, var(--background));
  --color-primary-70: color-mix(in oklab, var(--primary) 70%, var(--background));
  --color-primary-80: color-mix(in oklab, var(--primary) 80%, var(--background));
  --color-primary-90: color-mix(in oklab, var(--primary) 90%, var(--background));

  --color-accent: var(--accent);
  --color-secondary: var(--secondary);
  --font-heading: var(--font-amulya);
  --font-body: var(--font-synonym);
  --font-calligraphy: var(--font-calligraphy);
}

* {
  outline: none;
}

body {
  background-color: transparent;
  color: var(--color-primary-60);

  font-family: var(--font-synonym);
  font-weight: 500;
  position: relative;
  min-height: 100vh;
}

body::before {
  background-color: var(--background);
  background-image: url("/background.svg");
  background-repeat: infinite;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* background-size: cover; */
  opacity: 0.1;
  z-index: -1;
}