@import "tailwindcss";

:root {
  --background: #f3f8fe;
  --primary: #286ce4;
  --accent: #5291eb;
  --secondary: #8fb2e4;
  --foreground: #030a14;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-secondary: var(--secondary);
  --font-heading: var(--font-amulya);
  --font-body: var(--font-synonym);
  --font-calligraphy: var(--font-calligraphy);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background-color: transparent;
  color: color-mix(in oklab, var(--primary) 60%, var(--background));

  font-family: var(--font-synonym);
  font-weight: 500;
  position: relative;
  min-height: 100vh;
}

body::before {
  background-color: var(--background);
  background-image: url("/background.svg");
  background-repeat: infinite;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* background-size: cover; */
  opacity: 0.1;
  z-index: -1;
}

